*
{
	margin: 0;
	padding: 0;
}

body
{
	display: grid;

	background-color: #666666;	
}

/*Nav Bar*/
nav
{
	position: fixed;
	width: 100%;
    top: 0;
	grid-column: 1 / -1;
	margin: 0;
	opacity: 80%;
}

nav ul
{
	border: 1px solid black;
	background-color: #2B292C;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    margin: auto;
}

nav ul li
{
	display: block;
    font-size: 1em;
    color: white;
    padding: 0 2%;
}

nav ul li a
{
	text-decoration: none;
	color: white;
}

#navbar ul li a:hover
{
    color: red;
}

.logo
{
	margin-right: auto; 
}

input
{
    border-radius: 5px;
    padding: 0 0 0 5%; /*Fixes text inside box*/
    margin: 2.5% 0;
}

nav img
{
	max-width: 50px;
	min-width: 20px;
}

/*Main*/
.tideimg
{
	display: block; /*centers image*/
	margin: auto; /*centers image*/
	width: 100%;
	height: 350px;
}

main h2
{
	padding: 2%;
}

main h3
{
	padding: 5%;
}

#title
{
	text-align: center;
	color: white;
	margin: 0;
	padding: 3%;
	text-transform: uppercase;
}

#news
{
	text-align: center;
}

/*Articles*/
.articles
{		
	display: grid;
	text-align: center;
	padding: 0 5% 5% 5%;
	grid-template: repeat(2, 1fr) / repeat(3, 1fr);
}

.articles a:hover
{
	color: red;
}

section a
{
	text-decoration: none;
	color: white;
	margin: 0;
}

section img
{
	display: block; /*centers image*/
	margin: auto; /*centers image*/
	width: 100%;
	height: 150px;
}

section p
{
	margin: auto;
	padding: 20px;
}

.esports
{
	border: 3px solid white;
	grid-row: 1/-1;
	grid-column: 1/2;
	height: 95%;
	margin: 5%;
	padding: 0;
	background-color: #4d4d4d;
	color: #d9d9d9;
}

.esports p
{
	color: black;
}

.updates
{
	border: 3px solid white;
	grid-row: 1/-1;
	grid-column: 2/3;
	height: 95%;
	margin: 5%;
	padding: 0;
	background-color: #4d4d4d;
	color: #d9d9d9;
}

.updates p
{
	color: black;
}

.history
{	
	border: 3px solid white;
	grid-row: 1/-1;
	grid-column: 3/-1;
	height: 95%	;
	margin: 5%;
	padding: 0;
	background-color: #4d4d4d;
	color: #d9d9d9;
}

.history p
{
	color: black;
}

footer
{
	display: grid;
	background-color: #2B292C;
	color: white;
	text-align: center;
	text-transform: uppercase;	
	width: 100%;
	padding: 1% 0;
	margin: 0;
}

/*Slick Nav*/
#mobnav
{
    display: none; /*only visible when media query size is not met*/
}

/*media queries */
@media only screen and (max-width: 800px) 
{
    #navbar
    {
        display: none;
    }

    #mobnav
    { 
        display: block;
    }

	.search
    {
    	display: none;
    }

    #clock
    {
    	display: none;
    }
}

@media only screen and (max-width: 530px)
{
	body
	{
		font-size: small;
	}

} 